[/]
animate-appicon-hover=true
animate-appicon-hover-animation-convexity={'RIPPLE': 2.0, 'PLANK': 1.0}
animate-appicon-hover-animation-duration={'SIMPLE': uint32 160, 'RIPPLE': 130, 'PLANK': 72}
animate-appicon-hover-animation-extent={'RIPPLE': 4, 'PLANK': 3, 'SIMPLE': 1}
animate-appicon-hover-animation-travel={'SIMPLE': 0.29999999999999999, 'RIPPLE': 0.40000000000000002, 'PLANK': 0.050000000000000003}
animate-appicon-hover-animation-type='PLANK'
animate-appicon-hover-animation-zoom={'SIMPLE': 1.0, 'RIPPLE': 1.25, 'PLANK': 1.49}
appicon-margin=8
appicon-padding=4
available-monitors=[0]
group-apps=true
hide-overview-on-startup=false
hotkeys-overlay-combo='TEMPORARILY'
intellihide=false
isolate-monitors=true
isolate-workspaces=true
leftbox-padding=-1
panel-anchors='{"0":"MIDDLE"}'
panel-element-positions='{"0":[{"element":"showAppsButton","visible":true,"position":"stackedTL"},{"element":"activitiesButton","visible":false,"position":"stackedTL"},{"element":"leftBox","visible":true,"position":"centered"},{"element":"taskbar","visible":true,"position":"stackedTL"},{"element":"centerBox","visible":true,"position":"stackedBR"},{"element":"rightBox","visible":true,"position":"stackedBR"},{"element":"dateMenu","visible":true,"position":"stackedBR"},{"element":"systemMenu","visible":true,"position":"stackedBR"},{"element":"desktopButton","visible":true,"position":"stackedBR"}]}'
panel-element-positions-monitors-sync=true
panel-lengths='{"0":100}'
panel-positions='{"0":"BOTTOM"}'
panel-sizes='{"0":57}'
show-appmenu=false
status-icon-padding=-1
tray-padding=-1
window-preview-title-position='TOP'
